<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入 db.properties -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 配置DataSource bean -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${spring.driver}"/>
        <property name="url" value="${spring.url}"/>
        <property name="username" value="${spring.username}"/>
        <property name="password" value="${spring.password}"/>

    </bean>
    <!-- 配置StudentDAO bean -->
    <bean id="studentDao" class="cn.tzz.dao.impl.StudentDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 配置StudentService bean -->
    <bean id="studentService" class="cn.tzz.service.impl.StudentServiceImpl">
        <property name="isDAO" ref="studentDao"/>
    </bean>
</beans>